<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles">
</head>
<body>
<div th:replace="fragments/components.html :: header"> </div>
<div class="container pt-4">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" th:classappend="${tab} == 'home' ? 'active show ' : ''" role="presentation">
            <a class="nav-link" role="tab"  href="/account">Info</a>
        </li>
        <li class="nav-item" th:classappend="${tab} == 'account' ? 'active show ' : ''" role="presentation">
            <a class="nav-link" role="tab"  href="/account/details">Account</a>
        </li>
        <li class="nav-item" th:classappend="${tab} == 'numbers' ? 'active show ' : ''" role="presentation">
            <a class="nav-link" role="tab"  href="/account/numbers"> My phone numbers</a>
        </li>
        <li class="nav-item" th:classappend="${tab} == 'balance' ? 'active show ' : ''" role="presentation">
            <a class="nav-link" role="tab"  href="/account/balance">My balance </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade" th:classappend="${tab} == 'home' ? 'active show' : ''">
            <div class="pt-5">
                <p>Be careful! Each click costs you money :(</p>
            </div>
        </div>
        <div id="account" class="tab-pane fade" th:classappend="${tab} == 'account' ? 'active show' : ''">
            <div class="pt-5">
                <p th:text="'Account address: ' + ${accountAddress}"></p>
                <p th:text="'Nickname: ' + ${nickname}"></p>
            </div>
        </div>
        <div id="numbers" class="tab-pane fade" th:classappend="${tab} == 'numbers' ? 'active show' : ''">
            <div class="pt-3">
                <p class="text-white">Give back rented number</p>
                <form class="form-inline my-2 my-lg-0" th:action="@{/account/rent/give-back}" method="post">
                    <input th:name="number" class="form-control mr-sm-2" type="text" placeholder="Phone number..." aria-label="Phone number...">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Finish auction and get the number!</button>
                </form>
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Sell</th>
                        <th scope="col">Set nickname</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="number: ${phoneNumbers}">
                        <th scope="row" th:text="${number}">1</th>
                        <td>
                            <form th:action="@{/account/rent-my-number/{number}(number=${number})}" method="get">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="number" th:name="days" class="form-control form-control-sm" placeholder="For how many days?">
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="number" th:name="price" class="form-control form-control-sm" placeholder="Price pro 10 sec, WEI">
                                    </div>
                                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Rent!</button>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/account/sell-my-number/{number}(number=${number})}" method="get">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="number" th:name="price" class="form-control form-control-sm" placeholder="Price WEI">
                                    </div>
                                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Sell!</button>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/account/set-nickname/{number}(number=${number})}" method="get">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="text" th:name="nickname" class="form-control form-control-sm" placeholder="Nickname">
                                    </div>
                                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Set for 10 WEI!</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="balance" class="tab-pane fade" th:classappend="${tab} == 'balance' ? 'active show' : ''">
            <div class="pt-5">
                <p th:text="'My balance: ' + ${balance}"></p>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/components.html :: scripts"> </div>
</body>
</html>